<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnisc.cmpas.mapper.DependencyScoreMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hnisc.cmpas.bean.DependencyScore">
		<id column="id" property="id" />
		<result column="dependency_id" property="dependencyId" />
		<result column="user_id" property="userId" />
		<result column="self_score" property="selfScore" />
		<result column="final_score" property="finalScore" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dependency_id AS dependencyId, user_id AS userId, self_score AS selfScore, final_score AS finalScore
    </sql>

</mapper>
